.banner-article-list-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 1rem;
  height: 6rem;
}

.banner-article-list-item__data {
  display: grid;
  grid-template-rows: 1fr;
  padding: 0.8rem 0;
}

.banner-article-list-item__time {
  color: var(--clr-grey-4);
  font-size: 0.7rem;
}
