.banner-article-list-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem 0;
  height: 8rem;
}

.banner-article-list-item__data {
  display: grid;
  grid-template-rows: 1fr;
}

.banner-article-list-item__time {
  color: var(--clr-grey-5);
}
