.article {
  background-color: var(--clr-white);
  box-shadow: var(--dark-shadow);
  margin-bottom: 3rem;
}

.article__header {
  position: relative;
  margin-bottom: 4rem;
}

.article__data {
  background-color: var(--clr-white);
  position: absolute;
  padding: 1rem;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  justify-items: center;
  text-align: center;
  grid-gap: 1rem;
  box-shadow: var(--dark-shadow);
}

.article__time {
  display: flex;
  width: max-content;
  align-items: center;
  color: var(--clr-grey-5);
}

.article__time svg {
  color: var(--clr-grey-5);
  margin-right: 0.3rem;
}

.article__content {
  padding: 2rem;
}

.article__img {
  height: 40rem;
}

@media (max-width: 800px) {
  .article__img {
    height: 30rem;
  }
}

.article__content p {
  font-size: 1.1rem;
  margin-bottom: 2.5rem;
}

.article__content blockquote {
  background-color: var(--clr-primary-10);
  font-style: oblique;
  padding-left: 1rem;
  border-left: 3px solid var(--clr-primary-8);
  position: relative;
}

.article__content blockquote p {
  font-size: 1.3rem;
}

.article__content blockquote::before {
  content: " \0021";
  display: block;
  position: absolute;
  top: -1rem;
  left: -0.8rem;
  background-color: var(--clr-primary-9);
  border-radius: 100rem;
  height: 2rem;
  width: 2rem;
  padding-left: 0.8rem;
  padding-top: 0.3rem;
}

.article__tags {
  display: flex;
  padding: 0 0 2rem 2rem;
}

.article__tags span {
  margin: 0 0.5rem;
}

@media (max-width: 600px) {
  .article__img {
    height: 20rem;
  }

  .article__header {
    margin-bottom: 4rem;
  }

  .article__data {
    display: flex;
    flex-wrap: wrap;
    bottom: -4rem;
    width: 90%;
  }
  .article__title {
    font-size: 1.5rem;

    margin-bottom: 1rem;
  }

  .article__time {
    margin-right: auto;
  }
}
