.banner-articles {
  width: 100%;
}

.banner-articles__heading {
  display: flex;
  align-items: center;
}

.banner-articles__heading:before,
.banner-articles__heading:after {
  content: "";
  display: block;
  height: 2px;
  width: 2.5rem;
  background: var(--clr-primary-5);
  margin: 1rem;
}
