.about {
  display: grid;
  justify-items: center;
}

.about__image {
  border-radius: 100%;
  height: 10rem;
  width: 10rem;
  border: 1px dashed var(--clr-primary-5);
}

.about__social {
  width: 100%;
  display: flex;
  justify-content: center;
}
.about__social svg {
  margin: 0 0.5rem;
  font-size: 1.5rem;
  transition: all 0.2s;
}

.about__social svg:hover {
  color: var(--clr-primary-5);
}

.about__description {
  text-align: center;
  margin-top: 1rem;
}
