.navheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navheader__btn {
  display: none;
  background: transparent;
  outline: none;
  border: none;
  font-size: 1.7rem;
  line-height: 1.7;
  color: var(--clr-white);
  /* color: var(--clr-accent-5); */
}

@media (max-width: 800px) {
  .navheader {
    padding-top: 1.5rem;
  }
}
