.articles {
  width: 100%;
  margin-bottom: 3rem;
}

.articles__empty {
  display: block;
  margin: 0 auto;
  width: max-content;
}

.articles__pagination-btn {
  margin: 0 auto;
  width: max-content;
}
