.nav-links li {
  text-transform: capitalize;
  font-size: 1.2rem;
  transition: all 0.2s;
  padding-bottom: 0.3rem;
  border-bottom: 2px solid transparent;
}

.nav-links__active-link {
  font-weight: 600;
}
