.article-list-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  background-color: var(--clr-white);
  margin-bottom: 2rem;
  box-shadow: var(--dark-shadow);
  transition: all 0.2s;
}

@media (max-width: 700px) {
  .article-list-item {
    display: block;
  }
}

.article-list-item__image {
  height: 100%;
  max-height: 20rem;
}

@media (max-width: 1500px) {
  .article-list-item__image {
    max-height: 25rem;
  }
}

@media (max-width: 700px) {
  .article-list-item__image {
    max-height: 15rem;
  }
}

.article-list-item__data {
  padding: 1rem;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.article-list-item__metadata {
  display: flex;
  justify-content: space-between;
}

.article-list-item__link {
  color: var(--clr-grey-3);
  padding-bottom: 0.4rem;
  border-bottom: 1px solid var(--clr-primary-5);
  display: flex;
  width: max-content;
  align-items: center;
  transition: all 0.2s;
  margin-top: 1rem;
}

.article-list-item__link svg {
  margin-left: 0.5rem;
  transition: all 0.2s;
}

.article-list-item__link:hover svg {
  margin-left: 0.7rem;
}

.article-list-item__title {
  margin-bottom: 2rem;
}

@media (max-width: 700px) {
  .article-list-item__title {
    margin-bottom: 1rem;
  }

  .article-list-item__time {
    margin-left: auto !important;
    margin-right: 0 !important;
  }
}

.article-list-item__title:after {
  content: "";
  display: block;
  height: 1px;
  width: 5rem;
  background: var(--clr-accent-5);
  margin-top: 1rem;
}
