.article-list-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  padding: 2rem;
  height: 20rem;
}

.article-list-item__data {
  display: grid;
  grid-template-rows: 35% 1fr 13%;
}

.article-list-item__metadata {
  display: flex;
  justify-content: space-between;
}

.article-list-item__link {
  color: var(--clr-grey-3);
  padding-bottom: 0.4rem;
  border-bottom: 1px solid var(--clr-primary-5);
  display: flex;
  width: max-content;
  align-items: center;
  transition: all 0.2s;
  margin-top: 1rem;
}

.article-list-item__link svg {
  margin-left: 0.5rem;
  transition: all 0.2s;
}

.article-list-item__link:hover {
  border-bottom: 2px solid var(--clr-primary-5);
}

.article-list-item__link:hover svg {
  margin-left: 0.7rem;
}

.article-list-item__link__time {
  display: flex;
  width: max-content;
  align-items: center;
  color: var(--clr-grey-5);
}
.article-list-item__link__time svg {
  color: var(--clr-grey-5);
  margin-right: 0.3rem;
}

.article-list-item__link__category {
  text-transform: uppercase;
  padding: 0.3rem;
  color: var(--clr-grey-3);
  background-color: hsla(278, 94%, 87%, 0.411);
  border-radius: var(--radius);
}

.article-list-item__title:after {
  content: "";
  display: block;
  height: 1px;
  width: 5rem;
  background: var(--clr-accent-5);
  margin-top: 1rem;
}
